<div class='max-w-4xl mt-6'>
  <div class='flex justify-between mb-8'>
    <div>
      <div>
        <h2 class='inline-block mb-8 text-2xl'>{name}</h2>
        <span class='text-gray-400 ml-5'>({owner})</span>
      </div>
      <span>{members} members</span>
      <span class='mx-3'>|</span>
      <span>{posts} posts</span>
      <span class='mx-3'>|</span>
      <span>{lastActivity}</span>
    </div>
    <div>
      <%# <OutlineButton btnText={btnText} handleClick={hanldeJoin} /> %>
    </div>
  </div>
</div>
