<button 
    data-controller="button" data-action="click->button#log"
  class="rounded border-2 border-black hover:border-brand-primary-hover rounded w-52 text-center inline-block py-2 hover:text-brand-primary-hover" >
  <%= @title %>
</button>
