<button 
    data-controller="button" data-action="click->button#log"
    class="w-full inline-flex items-center justify-center px-4 py-2 bg-brand-primary font-semibold capitalize text-white hover:bg-brand-primary-hover active:bg-brand-primary focus:outline-none focus:ring focus:ring-brand-primary disabled:opacity-25 transition" >
    <%= @title %>
</button>