<div class='container mx-auto mt-6 pt-6'>
  <h1 class='text-3xl mb-8'>Groups</h1>
  <div class='flex justify-between'>
    <%# <SimpleTabs tabs={tabs} activeTab={activeTab} onTabChange={setActiveTab} /> %>
    <div>
      <%# <PrimaryButton
            rounded={false}
            btnText='Create a New Group'
            handleClick={() => setOpenModal(true)}
          /> %>
    </div>
  </div>
  <%# {openModal && (
        <CreateGroupModal setOpenModal={setOpenModal} handleSubmit={handleGroupCreation} />
      )} %>
  <%= render(GroupListingCardComponent.new(group: nil))%>
</div>
