@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

.trix-content {
  min-height: 300px;
}

.comment-btn {
  width: 100%;
  margin-top: 10px;
}

.tox-statusbar__text-container {
  display: none !important;
}

.tox-editor-header {
  border: none !important;
}

.emoji-icon {
  cursor: pointer;
}

.invitation-link {
  color: blue;
  cursor: pointer;
}

.invitation-link small {
  color: gray;
}

.accept-invitation {
  margin-top: 60px;
  background: aliceblue;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
